@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>Privacy Policy</h2>

<p>

    Your privacy is of utmost importance to us. We are committed to protecting the personal data of all our users and strictly adhere to applicable privacy laws and regulations, including the Portuguese General Data Protection Regulation (RGPD).
</p>
<p>
    We take appropriate technical and organizational measures to ensure the security and confidentiality of your data, preventing unauthorized access, misuse, or disclosure. All personal information provided by users is processed solely for the purposes it was collected and only retained for as long as necessary.
</p>
<p>
    For more detailed information about the Portuguese General Data Protection Regulation (RGPD), please refer to the official site <a href="https://www.cnpd.pt/cidadaos/direitos/" target="_blank">here.</a>
</p>
<p>
    If you have any questions about how we handle your data or wish to exercise any of your privacy rights, please contact our system admin at <a href="mailto:cet87.adm@gmail.com">cet87.adm@gmail.com.</a>
</p>
