
@{
    ViewData["Title"] = "CancelCheckOut";
}

<div class="shadow p-4 mb-5 bg-body-tertiary rounded bg-light">
	<div class="container row">
		<div class="col-12 text-center">
			<h2 class="text-primary text-center">Ops! Transaction Cancelled!</h2>
			<br />
			<br />
			<img src="https://gymmanagement.blob.core.windows.net/home/sad.png" width="15%" />
		</div>
		<br />

		<h3 class="col-12 text-center" style="color:darkred">
			Thank You for Choosing Us. Please Visit Again!
		</h3>
	</div>
</div>

