@model IEnumerable<GymManagement.Data.Entities.Subscription>
@{
    ViewData["Title"] = "Index";    
}

<div class="shadow p-4 mb-3 bg-body-tertiary rounded bg-white">
	<h3 class="mb-4">Choose the subscription</h3>
    <div class="row mt-3 d-flex justify-content-center">
        @foreach(var item in Model)
        {
            <div class="card me-3 mb-3 card-plan-item text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Plan @item.Name                     
                     </h5>
                     <p class="number-price my-5">@item.Price €</p>
                    @{                        
                        var descriptionItems = item.Description?.Split(',') ?? new string[0];
                    }
                    <div class="card-subtitle text-body-secondary description-container my-3">
                        <ul class="styled-list">
                            @foreach (var desc in descriptionItems)
                            {
                                <li>@desc.Trim()</li> 
                            }
                        </ul>
                    </div>
                    <a class="card-link btn check-red-btn w-100" asp-area="" asp-route-id="@item.Id" asp-controller="CheckOut" asp-action="CheckOut">Select</a>                              
                </div>
            </div>
        }        
    </div>    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const descriptionContainers = document.querySelectorAll('.description-container');
        let maxHeight = 0;
       
        descriptionContainers.forEach(container => {
            maxHeight = Math.max(maxHeight, container.offsetHeight);
        });
       
        descriptionContainers.forEach(container => {
            container.style.minHeight = `${maxHeight}px`;
        });
    });
</script>


