
@{
    ViewData["Title"] = "ThankYou";
}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card shadow p-4">
                <h2 class="card-title text-success mb-4">Thank You for Your Interest in Healthy and Strong Gym!</h2>
                <p class="card-text">We appreciate your interest in joining our gym community. Our team will review your request and contact you shortly to finalize the details.</p>
                <p class="card-text">Meanwhile, feel free to explore more about our sessions and services. We look forward to welcoming you soon!</p>
                <p class="card-text">If you have any immediate questions, don't hesitate to reach out to us at <a href="mailto:support@healthyandstronggym.com" class="text-primary">support@healthyandstronggym.com</a>.</p>
                <p class="card-text mt-4"><strong>Best regards,</strong></p>
                <p class="card-text">The Gym Team</p>
                <a href="/" class="btn btn-success mt-3">Return to Homepage</a>
            </div>
        </div>
    </div>


</div>

