
@{
    ViewData["Title"] = "BookAwait";
    var countryId = ViewData["CountryId"];
    var gymId = ViewData["GymId"];
}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h3>BookAwait</h3>

    <div class="col-6">
        <h3>Await for the confirmation</h3>
        <a asp-action="GetSessionsFromGym" asp-controller="Gyms" asp-route-countryId="@countryId" asp-route-gymId="@gymId" class="btn btn-success">Back to Sessions</a>
    </div>
</div>




