
@{
    ViewData["Title"] = "BookAwait";
}

<h2>BookAwait</h2>

<div class="col-6">
    <h3>Await for the confirmation</h3>
    <a asp-action="Index" asp-controller="Sessions" class="btn btn-success">Back to Sessions</a>
</div>



