@model GymManagement.Models.ConfirmEmailViewModel

@{
    ViewData["Title"] = "Confirm Email";
}

<div class="shadow-none p-3 bg-body-tertiary rounded bg-white full-height">
    <h5 class="text-center mt-5">@ViewData["Title"]</h5>
    <div class="text-success">
        <p>
            @ViewBag.Message
        </p>
    </div>
    <div class="mb-2">
        <p class="text-center mb-md-3">
            As this is your first time logging on, please enter a new password.
        </p>
        <div class="row mt-2">
            <div class="col-md-4 offset-md-4">
                <form asp-action="AddedConfirmEmail">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="userId" />
                    <input type="hidden" asp-for="token" />
                    <div class="form-group mb-3">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-warning"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Confirm"> Confirm</label>
                        <input asp-for="Confirm" type="password" class="form-control" />
                        <span asp-validation-for="Confirm" class="text-warning"></span>
                    </div>
                    <div class="form-group">                       
                        <button type="submit" class="btn btn-primary w-100"><i class="fas fa-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
