@model GymManagement.Models.ChangeUserViewModel

@{
    ViewData["Title"] = "ChangeUser";
}

<div class="shadow-none p-5 mb-5 bg-body-tertiary rounded bg-white">
    <h4>Change your information</h4>
    <hr />
  
    <flash dismissable="true" />
    <div class="row">
        <div class="col-md-4 mt-5 d-flex justify-content-center">
            <img src="@Url.Content(Model.ImagePath)" alt="User pfoto" class="img-fluid rounded" style="width:200px;height:200px;max-width:100%;max-height:auto;" />
        </div>
        <div class="col-md-4 mt-5">
            <form asp-action="ChangeUser" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="ImageId" />
                <div class="form-group mb-3">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary me-2" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back to Home</a>
                </div>
            </form>
        </div>
    </div>

    @* <div>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div> *@
</div>
