@model GymManagement.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="shadow-none p-3 bg-body-tertiary rounded bg-white full-height">
    <h3 class="text-center mt-md-5">Login</h3>
    <div class="row mt-md-3">
        <div class="col-md-4 offset-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group mb-3">
                    <label asp-for="Username"> Username</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-warning"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>
                <div class="form-group mb-3">
                    <div class="form-check">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label">Remember Me?</label>
                    </div>
                    <span asp-validation-for="RememberMe" class="text-warning"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Login" class="btn btn-success" />
                    <a asp-action="RecoverPassword" class="btn btn-link">Forgot your password?</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}