@model GymManagement.Models.CreatePostViewModel
@{
    ViewData["Title"] = "Create a new discussion";
}

<h1>Create a new discussion</h1>
<hr />
<div class="text-danger">
    <p>
        @ViewBag.Error
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDiscussion">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Username" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" TextMode="MultiLine"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
